<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>work</title>
</head>
<body>

	<table width="70%">
		<tr>
			<td>
				<h1>優易資訊股份有限公司</h1>

		</tr>
<table width="70%" border="1">
		<tr>
			<td>
				公司資訊</a><br>
				公司名：優易資訊股份有限公司<br>
				地址：台北市 中山區 南京東路三段65號7樓<br>
				
			</td>

			<td>
				職務介紹<br>
				助理工程師、<br>
				客服工程師、<br>
				產品設備維修人員、<br>
				網路管理工程師<br>
				MIS工程師
			</td>
			<td>
				工作條件需求<br>
				接受身份： 全職、學生實習<br>
				工作經歷：1年以上工作經驗<br>
				學歷要求：不拘<br>
				科系要求：資訊工程學類<br>
				語文條件：英文聽 中等 說 中等 讀 中等 寫 中等<br>
			</td>
		</tr>
	</table>		

</body>
</html>
