<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ucan</title>
</head>
<body>

	<table width="70%">
		<tr>
			<td>
				<h1>羅爾玨的職涯測驗結果</h1>


			</td>
		</tr>
<table width="70%" border="1">
		<tr>
			<td>
				UCAN 16職涯類型診斷結果</a><br>
				<img src="quiz.jpg"></img>

				
			</td>

			<td>
				職業性格類型<br>
				<img src="test.jpg"></img>
			</td>

			<td>
				UCAN比較<br>
				<img src="ucan.jpg"></img>
			</td>
				
		</tr>
	</table>		

</body>
</html>
