<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>求職相關資訊</title>
</head>
<body>

	<table width="70%">
		<tr>
			<td>
				<h1>企管四B 410808658 羅爾玨的求職相關資訊</h1>
				<h2>LUO,ER-JUE</h2>

			<td>
				<img src="me.jpg" width="110%"></img>
			</td>
		</tr>
<table width="70%" border="1">
		<tr>
			<td>
				喜愛佳句</a><br>
				從失敗中建造自己。將失敗作為墊腳石。過去的就讓它過去，不需要試圖忘記錯誤，<br>而是不必糾結於它。別讓失敗的情緒佔據你任何精力、時間或空間。
				
			</td>

			<td>
				MIS相關工作介紹:<br>
				優易資訊股份有限公司<br>
				助理工程師、客服工程師、產品設備維修人員、網路管理工程師、MIS工程師
			</td>

			<td>
				職涯測驗結果<br>
				<img src="quiz.jpg" width="50%"></img>
				<img src="test.jpg" width="50%"></img>
				<img src="ucan.jpg" width="50%"></img>
				
			</td>
		</tr>
	</table>		

</body>
</html>
